.tableWrapper {
	width: 100%;
	height: 90%;
	margin: auto;
	overflow: auto;
	.table td {
		padding: 0.35rem;
	}
	.table th {
		padding: 0.45rem;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}
}
.userImage {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 2px solid #6c6b6a;
	border-radius: 10px;
}
input {
	font-size: 13px;
}
::-webkit-input-placeholder {
	text-transform: uppercase;
	text-align: center;
}

:-moz-placeholder {
	text-transform: uppercase;
	text-align: center;
}

::-moz-placeholder {
	text-transform: uppercase;
	text-align: center;
}

:-ms-input-placeholder {
	text-transform: uppercase;
	text-align: center;
}
